@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(12, 152, 177);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  footer {
    background-color: #67C6E3;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: small;
  }

  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .page {
    display: none; /* Ocultar todas las páginas inicialmente */
  }
  
  .page:first-child {
    display: block; /* Mostrar solo la primera página */
  }
  
  .page > div {
    flex: 0 0 23%; /* Ajustar este valor según sea necesario */
    margin-bottom: 10px; /* Espacio entre las imágenes */
  }
  
  .page img {
    max-width: 100%;
    height: auto;
  }
  
  @media screen and (max-width: 768px) {
    .page > div {
      flex-basis: 31%; /* Cambiar el tamaño de las imágenes en pantallas más pequeñas */
    }
  }
  
  @media screen and (max-width: 576px) {
    .page > div {
      flex-basis: 48%; /* Cambiar el tamaño de las imágenes en pantallas más pequeñas */
    }
  }

  @media screen and (min-width: 992px) {
    .page {
      justify-content: space-between; /* Ajustar el espacio entre las imágenes */
    }
  }